{% extends 'layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body_id 'profile_body' %}

{% block body %}

    <section class="page-section" id="profile">

    </section>
{% endblock %}
