{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}

    <section id="presentation">

        <div id="resume">
            <h1 class="text-center mt-0">Snowtricks</h2>
            <hr class="divider my-4" />
            <img class="img-fluid" src="assets/img/snowtricks_logo1.png" alt="" />
            <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non ex a lacus condimentum aliquet. In sed dolor at ligula consequat placerat efficitur sit amet purus. Pellentesque laoreet libero est, eget posuere ante faucibus et. Sed at rutrum sem, sit amet rutrum elit. Quisque dictum hendrerit convallis. Nunc vestibulum ante ut facilisis aliquet. Pellentesque ornare lorem ac enim feugiat, eu interdum dolor egestas. Donec sit amet venenatis purus. Vestibulum luctus in purus quis convallis. Quisque efficitur nunc sapien, vitae facilisis nibh suscipit eget. Pellentesque sed sagittis purus, vel tincidunt tellus. Phasellus feugiat placerat lacus quis dignissim. Pellentesque ultrices tempor lacinia. Etiam ac euismod purus, non pulvinar sapien. Praesent semper, nisl in pretium hendrerit, justo purus ullamcorper felis, a mattis eros eros at felis. </p>
        </div>

    </section>

    <section id="tricks">

        <div class="container" id="portfolio">
            <h2 class="text-center mt-0">Les figures</h2>
            <hr class="divider my-4" />
        </div>

        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/trick">
                            <img class="img-fluid" src="assets/img/trick/thumbnails/snowtrick_1.png" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Grab</div>
                                <div class="project-name">Mute</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/trick">
                            <img class="img-fluid" src="assets/img/trick/thumbnails/snowtrick_2.png" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Grab</div>
                                <div class="project-name">Melancholy</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/trick">
                            <img class="img-fluid" src="assets/img/trick/thumbnails/snowtrick_3.png" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Grab</div>
                                <div class="project-name">Tail Grab</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/trick">
                            <img class="img-fluid" src="assets/img/trick/thumbnails/snowtrick_4.png" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Grab</div>
                                <div class="project-name">Nose Grab</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/trick">
                            <img class="img-fluid" src="assets/img/trick/thumbnails/snowtrick_5.png" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Rotation</div>
                                <div class="project-name">180°</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/trick">
                            <img class="img-fluid" src="assets/img/trick/thumbnails/snowtrick_6.png" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Rotation</div>
                                <div class="project-name">360°</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/trick">
                            <img class="img-fluid" src="assets/img/trick/thumbnails/snowtrick_7.png" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Flip</div>
                                <div class="project-name">Front flip</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/trick">
                            <img class="img-fluid" src="assets/img/trick/thumbnails/snowtrick_8.png" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Flip</div>
                                <div class="project-name">Back flip</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/trick">
                            <img class="img-fluid" src="assets/img/trick/thumbnails/snowtrick_9.png" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Slide</div>
                                <div class="project-name">Nose Slide</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/trick">
                            <img class="img-fluid" src="assets/img/trick/thumbnails/snowtrick_10.png" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Slide</div>
                                <div class="project-name">Backboard Slide</div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </section>
{% endblock %}
