{% extends 'layout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body_id 'login_body' %}

{% block body %}

    <section class="container" id="login">
        <div class="container justify-content-center">
            <h2 class="text-center mt-0">Mot de passe oublié</h2>
            <hr class="divider my-4" />
            
            <div class="well"> 
               {{ form(emailForm, {'attr': {'novalidate': 'novalidate', 'class': 'container text-center'}}) }}
            </div>
        </div> 
    </section>

{% endblock %}
