{% extends 'layout.html.twig' %}

{% block title %}Réinitialisation{% endblock %}

{% block body_id 'login_body' %}

{% block body %}

    <section class="container" id="login">
        <div class="container justify-content-center">
            <h2 class="text-center mt-0">Réinitialisation du mot de passe</h2>
            <hr class="divider my-4" />
            
            <div class="well"> 
               <h1>Réinitialisation du mot de passe</h1>
                <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                <form method="post">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
                    <input type="hidden" name="token" value="{{ token }}">
                    <button type="submit" id="valider">
                        Valider le mot de passe
                    </button>   
                </form>
            </div>
        </div> 
    </section>

{% endblock %}
