{% extends 'trick/layout.html.twig' %}

{% block body_id 'trick_body' %}

{% block body %}
<section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Nom du tricks</h2>
            <hr class="divider my-4" />
        </div>
</section>
{% endblock %}
